.searchSection__results-item._no-results {
    background: none;
}
.searchSection__results-item._no-results .title{
    color:white;
    font-size:18px;
}
.searchSection__results-item._header._pre-header{
    position: relative;
    font-weight: 500;
    overflow: hidden;
    color: #ffffff;
    background-color: transparent;
}
.searchSection__results-item._header._pre-header .cart-count{
    color: #ffffff;
    margin: 5px;
    padding: 10px;
    border-radius: 0.5em;
    background: linear-gradient(45deg, #af34ff 0.52%, #5159f7 49.52%, #08a5ff 99.54%);
}
@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}
.animate-spin {
    animation: spin 1s linear infinite;
    color:white;
}
._google:hover~._google {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    pointer-events: all;
    -webkit-transition: .3s ease-out .15s;
    transition: .3s ease-out .15s;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform;
    transition-property: opacity,transform,-webkit-transform
}
._apple:hover~._apple {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    pointer-events: all;
    -webkit-transition: .3s ease-out .15s;
    transition: .3s ease-out .15s;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform;
    transition-property: opacity,transform,-webkit-transform
}
.hero__inner-apps-tab {
    display: block;
    position: relative;
    left: 0;
    bottom: calc(100% + 10px);
    width: fit-content;
    background: linear-gradient(45deg,#511281 0%,#280949 100%);
    padding: .9em 1.3em;
    border: 1px solid rgba(175,52,255,.14);
    border-radius: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 10px 15px 5px rgba(17,17,17,.3);
    box-shadow: 0 10px 15px 5px rgba(17,17,17,.3);
    z-index: 2;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: opacity .5s ease-out,-webkit-transform 1.5s ease-out;
    transition: opacity .5s ease-out,-webkit-transform 1.5s ease-out;
    transition: opacity .5s ease-out,transform 1.5s ease-out;
    transition: opacity .5s ease-out,transform 1.5s ease-out,-webkit-transform 1.5s ease-out;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    color: #eaeaea;
    font-size: 16px;
    font-weight: 400;
    font-family: rubik,sans-serif;
    line-height: 1.2
}
.hero__inner-apps-tab:hover {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    pointer-events: all;
    -webkit-transition: .3s ease-out .15s;
    transition: .3s ease-out .15s;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform;
    transition-property: opacity,transform,-webkit-transform
}
.selected-domain-label{
    width: 100%;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin-right: 50px;
}
@media (max-width: 940px) {
    .selected-domain-label{
        width: 100%;
        text-align: left;
        font-size: larger;
        font-weight: bold;
        margin-left: 50px;
    }
}
.selected-domain-name{
    background: transparent;
    color: white;
    cursor: auto;
}